<footer class="site-footer">
    <div class="footer-container">
        


        <div class="footer-content">
            <h2 class="footer-heading">
                <span class="footer-text-main">Got something</span><br>
                <span class="footer-text-serif">worth my time?!</span>
            </h2>

            <a class="footer-btn-holla" href="{{ '/contact.html' | relative_url }}">Reach Out</a>

        </div>

        <div class="footer-bottom">
            <div class="footer-links">
                <button class="footer-top-link" type="button">To top</button>
            </div>
            <div class="footer-socials">
                <a href="https://www.linkedin.com/in/sumityadav96" target="_blank" rel="noopener" class="footer-social-link">LinkedIn</a>
                <span class="footer-separator">.</span>
                <a href="https://github.com/sumityadavIN" target="_blank" rel="noopener" class="footer-social-link">GitHub</a>
                <span class="footer-separator">.</span>
                <a href="https://x.com/sumit_yadav_" target="_blank" rel="noopener" class="footer-social-link">X</a>
                <span class="footer-separator">.</span>
                <a href="mailto:contact@sumityadav.me" class="footer-social-link">Email</a>
            </div>
            <div class="footer-credits">
                <span>&copy;2025 <a href="{{ '/' | relative_url }}">Sumit Yadav</a></span>
            </div>
        </div>
    </div>
</footer>