@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900 leading-relaxed;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
    font-family: var(--font-inter), system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
    @apply leading-relaxed;
}

h1, h2, h3 {
  @apply tracking-tight;
    @apply font-semibold leading-tight;
}

hr {
  @apply border-zinc-200 dark:border-zinc-800;
}

.prose {
  @apply prose-zinc dark:prose-invert;
}
