@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900 leading-relaxed;
}

h1, h2, h3 {
  @apply tracking-tight;
}

hr {
  @apply border-gray-200 dark:border-gray-800;
}

.prose {
  @apply prose-neutral;
}

.prose {
  @apply prose-neutral dark:prose-invert;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
